.container{
    width: 90vw;
    position:absolute;
    padding: 1rem 5vw;
    display: grid;
    mix-blend-mode: difference;
    grid-template-columns: repeat(3,1fr);
    color: white;
    align-items: center;
    ul{
        list-style-type: none;
        justify-self: center;
        color: inherit;
        li{
            display: inline-block;
            padding: 0 1rem;
            font-weight: 500;
            margin:0 2rem
            
        }
    }
    .cta_container{
        justify-self: end;
    
    }
   
}