
.container{
   background-color:#1f1f1f;
    min-height: 100vh;
    min-width: 100vw;

   position: fixed;
   z-index: 4;
    h1{
        color: white;
        font-size:6rem;
        padding: 40vh 0;
        text-align: center;
        font-weight: 400;
       
    }
}